.image-warp{
    margin-top:50px;
    border: 2px solid black;
    padding: 2%;
    border-radius: 50%;
}
.userImage{
    width:100px;
    height:100px;
    border-radius: 50%;
}
.info{
    width:300px;
}
.name{
    margin-left:3%;
    margin-top:8%;
    font-size:20px;
    color:#37361e;
    display:flex;
    justify-content: center;
}
.location{
    margin-left:3%;
    font-size:10px;
    color:#9aa0a0;
    display:flex;
    justify-content: center;
}
.bio{
    margin-left:3%;
    font-size:15px;
    color:#383124;
    display:flex;
    justify-content: center;
}
.card1{
    width:100%;
    background-color: #9aa0a0;
}
.card2{
    width:100%;
    background-color:#dbdcde;
}
.card-time{
    font-size:15px;
    color:#3c1507
}
.card-location{
    position:relative;
    top:-13px;
    left:150px;
    font-size:8px;
    color:#dbdcde;
}
.card-content{
    position:relative;
    top:-13px;
    font-style:oblique;
}
.photo{
    margin-left:3%;
    float:flex;
    width:80px;
    height:80px;
}