.messageCard{
    background: #ffffff;
}
.sendImage{
    position:relative;
    top:30px;
    width:45px;
    height:45px;
    border-radius: 50%;
}
.sendName{
    position:relative;
    font-size: 15px;
    left:50px;
    top:-5px;
    color:#352f1c;
}
.sendPosition{
    position:relative;
    font-size: 10px;
    top:-5px;
    left:48px;
    color:#8c8474;
}
.sendContent{
    position:relative;
    font-size: 13px;
    left:20px;
}
.userCard{
    position: relative;
    background:-webkit-linear-gradient(90deg,#dbdcde 0%,#9aa0a0 100%);
    width:300px;
    height:60px;
}
.userImage{
    position:relative;
    margin:1.5%;
    width:50px;
    height:50px;
    border-radius: 5%;
}
.userName{
    position:relative;
    font-size:15px;
    color:white;
    top:-55px;
    left:60px;
}
.userContent{
    position:relative;
    top:-55px;
    left:60px;
    font-size:10px;
}
.reply{
    position:relative;
    left:100px;
    top:-3px;
    background-color: #808686;
    margin-top:3%;
    width:50px;
    height:20px;
    font-size:10px;
    color:#ffffff;
}
.text{
    border-radius: 3%;
}