.container{
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.yuepailist{
    width: 90%;
    border-radius: 10rpx;
    background-color: #F3F5F2;
    padding: 10rpx;
    position: relative;
    background-color: #FAF8F7;
    margin-top: 10rpx;
    box-shadow: 3rpx 3rpx 2rpx rgb(165, 163, 163);
    margin-bottom: 10rpx;
}

.headPhoto{
    width: 100rpx;
    height: 100rpx;
    border-radius: 90rpx;
    overflow: hidden;
    float: left;
    margin-right: 10rpx;
}

.headPhoto image{
    width: 100%;
    height: 100%;
}

.information{
    height: 100rpx;
}

.information .name{
    margin-top: 20rpx;
    font-weight: 600;
    font-size: 40rpx;
}

.local{
    float: left;
    white-space:nowrap
}

.local image{
    width: 38rpx;
    height: 38rpx;
}

.content{
    width: 90%;
    margin-left: 110rpx;
    font-size: 28rpx;
}

.school{
    font-size: 26rpx;
    color: rgb(189, 189, 184);
}

.school image{
    width: 34rpx;
    height: 34rpx;
    float: left;
}

.school .like{
    width: 34rpx;
    float: right;
    margin-right: 5rpx;
    margin-left: 10rpx;
    position: relative;
}

.shareicon{
    position: absolute;
    top: 0;
    left: 0;
    width: 40rpx;
    height: 40rpx;
    z-index: 2;
    opacity: 0;
}

.shareicon::after{
    border: none;
}

.photo{
    width: 90%;
    height: 200rpx;
    margin-left: 105rpx;
}

.photo image{
    width: 180rpx;
    height: 180rpx;
    margin: 5rpx;
    float: left;
}
